<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.IvoryStore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".EmailPasswordActivity" />
        <activity android:name=".GoogleSignInActivity" />
        <activity android:name=".FacebookSignInActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".GetUserInfoActivity" />
        <activity android:name=".AnonymousHomeActivity" />
        <activity
            android:name=".IvoryStoreMain"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IvoryDetailsActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ReviewActivity"
            android:theme="@style/Theme.AppCompat" />


        <service android:name=".push.PushTokenHandler">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".push.PushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.appsee.ApiKey" android:value="f22f093a3dfc41fb8f9af3f630f2b195" />
    </application>

</manifest>