<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dorazouri.IvoryStore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.dorazouri.IvoryStore.EmailPasswordActivity" />
        <activity android:name="com.dorazouri.IvoryStore.GoogleSignInActivity" />
        <activity android:name="com.dorazouri.IvoryStore.FacebookSignInActivity" />
        <activity android:name="com.dorazouri.IvoryStore.SignInActivity" />
        <activity android:name="com.dorazouri.IvoryStore.GetUserInfoActivity" />
        <activity android:name="com.dorazouri.IvoryStore.AnonymousHomeActivity" />
        <activity
            android:name="com.dorazouri.IvoryStore.IvoryStoreMain"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dorazouri.IvoryStore.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dorazouri.IvoryStore.IvoryDetailsActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.dorazouri.IvoryStore.ReviewActivity"
            android:theme="@style/Theme.AppCompat" />


        <service android:name="com.dorazouri.IvoryStore.push.PushTokenHandler">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.dorazouri.IvoryStore.push.PushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.appsee.ApiKey" android:value="f22f093a3dfc41fb8f9af3f630f2b195" />
    </application>

</manifest>